*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

body{
    font-size: 1.6rem;
    padding: 2rem;
    background: linear-gradient(to right,rgb(51, 139, 239) 0%,rgb(65, 95, 107) 50%,rgb(244, 191, 101) 100%);
    cursor: url(cursor.cur), auto;
}

section{
    display: flex;
    height: 230px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 4s ease;
}

section img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(100%);
}

section img:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

section img:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;}
p,h2{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 1rem auto 1rem auto;
}

h1{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-shadow: 5px 5px 5px white;
}
