*{
    box-sizing: border-box;
    margin: 0%;
}

#video_moto{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
}

body{
    height: 1600px;
}

header,footer{
    background-color: beige;
    padding: 20px;
    border: solid;
    opacity: 0.7;
}

header{
    position: fixed;
    width: 100%;
    top: 0%;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
}

h1{
    text-align: center;
}