*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: burlywood;
}
h1{
    margin: 25px auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: white;
    text-shadow: black 3px 2px 2px;
}
h2{
    text-align: center;
    background-color: white;
}



.ListaNoNumerada{
    background-color:rgb(121, 160, 232);
    width: 80%;
    margin: auto;
    border: 3px dotted;
    padding: 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

}
.listaS{
    list-style-type: lower-alpha;
}
.listaE{
    color: red;
}
.listaP{
    list-style-type: lower-alpha;
}


.ListaNumerada{
    background-color: rgb(126, 209, 166);
    width: 80%;
    margin: auto;
    border: 3px solid;
    padding: 20px;
    border-radius: 25px;
}
.listaSN{
    list-style-type: decimal-leading-zero;
}
.listaPN{
    list-style-type:circle
}
.listaPN > li:first-child{
    background-color: white;
}
.listaPN li:first-child{
    color: red;
}


.lista_def{
    background-color:rgb(184, 232, 152);
    width: 80%;
    margin: 0 auto 50px auto;
    border: 3px dotted;
    padding: 20px;
}
.listaSD{
    list-style-type: decimal-leading-zero;
}
.listaP{
    list-style-type: lower-alpha;
}
ol li{
   background-size: 25px;
   background-repeat: no-repeat;
   background-position: left center;
	   background-position-x: -5px;
   padding: 0px 0px 0px 25px;
}
.CPU{
      background-image: url(././Imagenes/CPU.jpeg);
}
.RAM{
      background-image: url(././Imagenes/RAM.jpeg);
}
.Almacenamiento{
      background-image: url(././Imagenes/Almacenamiento.jpeg);
}
.Gráfica{
      background-image: url(././Imagenes/Gráfica.jpeg);
}
.Batería{
      background-image: url(././Imagenes/Bateria.jpeg);
}
.USB-A{
      background-image: url(././Imagenes/USB-A.jpeg);
}
.USB-C{
      background-image: url(././Imagenes/USB-C.jpeg);
}
.HDMI{
      background-image: url(././Imagenes/HDMI.jpeg);
}
.RJ-45{
      background-image: url(././Imagenes/RJ-45.jpeg);
}
.Pantalla{
      background-image: url(././Imagenes/Pantalla.jpeg);
}
.Teclado{
      background-image: url(././Imagenes/Teclado.jpeg);
}
.Cámara{
      background-image: url(././Imagenes/Cámara.jpeg);
}
.Audio{
      background-image: url(././Imagenes/Audio.jpeg);
}