*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

body{
    font-size: 1.6rem;
    background: linear-gradient(to right,rgb(48, 83, 124) ,rgb(65, 95, 107) ,rgb(244, 191, 101));
    padding: 1rem 2rem 1rem 2rem ;
    width: 100%;
}

h1,caption{
    text-align: center;
    color: white;
    padding: 20px;
    width: 100%;
}

table{
    margin-top: 50px;
    caption-side: top;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    border: solid;
}

th{
    background-color: rgb(126, 225, 226);
}

td{
    background-color: antiquewhite;
}

caption{
    padding: 20px;
}

td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;

}

th img{
    width: 100%;
}

