*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}

fieldset{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    background-color: rgb(123, 217, 220);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    margin: 0;
    padding: 2rem;
}

h1 {
    text-align: center;
    margin: 0.5rem;
}

.contenedor {
    max-width: 80rem;
    margin: auto;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.grupo {
    border: 0.2rem solid #4a90e2;
    padding: 1rem;
    border-radius: 1rem;
    background: white;
}

.grupo legend {
    padding: 0 10px;
    font-weight: bold;
    color: #4a90e2;
}


input,textarea,select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.boton {
    background: #4a90e2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.boton:hover {
    background: #357acb;
    transform: scale(1.05);
}
